*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./static/robot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.chat-container {
  list-style: none;

  display: flex;
  flex-direction: column;

  padding: 60px;

  height: 90vh;
  overflow-y: scroll;
}

p{
  width: fit-content;
  max-width: 40%;
  white-space: normal;

  padding: 5px 15px;
  margin-bottom: 5px;
  
  border-radius: 20px;
  border: none;
}

.message-wrapper{
  display: flex;
  flex-direction: column;
}

.user-messages{
  background-color: #26CB56;
  color: white;

  align-self: flex-end;
}

.bot-messages{
  background-color: #E6E6E6;
  color: black;

  align-self: flex-start;
}

.userinput-form{
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-input{
  height: 100%;
  width: 80%;

  margin-right: 20px;
  padding-left: 20px;
}

.user-submit{
  height: 100%;
  width: 10%;
}


@media screen and (max-width: 550px) {
  .chat-container{
    padding: 60px 10px 0 10px;
  }

  .user-input{
    margin-right: 2px;
  }

  .user-submit{
    font-size: 10px;
    width: 15%;
  }

  p{
    max-width: 60%;
  }
}